@import "tailwindcss";

      :root {
        --brand-primary: #f8f0e3;
        --brand-secondary: #8c4c3e;
        --brand-orig: #a35138;
        --brand-text-dark: #3a241e;
        --brand-text-light: #6d5d59;
                --brand-text-title:  #4a1d13;
                --big-buttons: #a35138;
                                --big-buttons-hover: #3a241e;
                --small-buttons: #c8917a;
                                --small-buttons-hover: #3a241e;

        --brand-background: #f9f1e8;
                --header-background: #fff9f5;
        --footer-background: #fff9f5;

      }
