@import "tailwindcss";

      :root {
        --brand-primary: #F8EDE3;

        --brand-secondary: #8D493A;
--brand-lighter: #fff9f5;

        --brand-orig: #a35138;
        --brand-text-dark: #3a241e;
                --text-dark: #3a241e;

        --brand-text-light: #6d5d59;
                --brand-text-title:  #5A2F25;
                --big-buttons: #8D493A;
                                --big-buttons-hover: #7A3C2E;
                --small-buttons: #d0b8a8;
                                --small-buttons-hover: #bfa48f;

        --brand-background: #F8EDE3;
                --header-background: #fff9f5;
        --footer-background: #fff9f5;

      }
body {
  direction: inherit;
  font-family: 'Assistant', sans-serif;
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* or use @apply font-bold if using Tailwind */
}

}
